<div class="jumbotron center">
     <h1>Bento Books </h1> 
     <h2>The best place to find and exchange books.</h2>
     <p>What's in your library? </p>
     <p>
       <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
  </p>    
</div>